@font-face {
    font-family: 'Libertinus Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Libertinus Sans Regular'), url('/fonts/LibertinusSans-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Libertinus Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Libertinus Sans Bold'), url('/fonts/LibertinusSans-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Libertinus Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Libertinus Sans Italic'), url('/fonts/LibertinusSans-Italic.woff2') format('woff2');
  }